* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
   } 

  body {
    background-color: #EFEFF0;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  }

  h2{
    color: #283618;
  }

  p{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
  }

  .top-bar{
    border-bottom: solid;
    padding: 0px 0px 40px 0px;
    margin: 20px 0px 20px 0px;
    display:flex;
    justify-content: center;
  }

  .section h1{
    padding-left: 130px;
    color: #933414;
  }

  .section{
    display:flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1); */

  }

  #intro{
    padding-top: 30px;
  }
  
  .pictures{
    display: flex;
    flex-flow: row wrap;
    width: 70rem;
    height: 25rem;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; Hides any overflow of the image */
    border-left: solid;
    margin-left: 200px;

  }

  .pictures img{
    max-width: 100%;
    max-height: 100%;
  }
  
.image{
    padding: 35px 35px 35px 35px;
}

.subunit {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.unknown img {
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
    border-left: solid;
    padding-left: 100px;
}

.unknown{
    display: flex;
    align-items: center;
    margin-left: 265px;
}

.final {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
    flex-flow: column wrap;
}

#line {
    width: 800px;
    margin: auto;
    border-top: 5px solid #F4B3B3;
    border-radius: 5px;
}